<div class="h-44 flex flex-col gap-5 border border-gray-200 rounded-md p-2 bg-white">
    <div class="po-lg-12 flex items-center gap-3">
      <div class="bg-red-500 w-8 h-8 rounded-full text-white justify-center flex items-center text-xl">
        <i class="ph ph-heartbeat"></i>
      </div>
      <p class="po-font-text-bold text-red-500">Status</p>
    </div>

    <div class="po-row">
      <div class="flex flex-col po-lg-9 gap-3">
        <p class="po-font-text-bold text-3xl text-green-600 p-0 leading-10">Operacional</p>
        <p class="po-font-text text-gray-500 leading-3">O servidor está online e operando normalmente</p>
      </div>
      <div class="po-lg-3 flex justify-center">
        <div class="h-16 w-16 bg-green-600 rounded-full text-white flex justify-center items-center text-4xl">
          <i class="ph ph-wifi-high"></i>
        </div>
      </div>
    </div>
</div>